{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css\base.css' %}">
</head>
<body>
    <div id="header">
        {% if request.user.is_authenticated %}
        <ul>
            <li {% if section == "dashboard" %} class="selected" {% endif %}>
                <a href="{% url 'user:dashboard' %}">My dashboard</a>
            </li>
            <li>
                <a href="{% url 'room:home' %}">Rooms</a>
            </li>
        </ul>
        {% endif %}
    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>