{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/vars.css' %}" />
    <link rel="stylesheet" href="{% static 'user/base.css' %}" />
    {% endblock %}
    <script src="https://kit.fontawesome.com/167f1fd28a.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    <link rel="icon" type="image/png" href={% static 'img/logo.png'%}>
</head>
<body>
    <div id="header">
        {% if request.user.is_authenticated %}
        <ul>
            <li {% if section == "dashboard" %} class="selected" {% endif %}>
                <a href="{% url 'user:dashboard' %}">My dashboard</a>
            </li>
            <li>
                <a href="{% url 'room:home' %}">Rooms</a>
            </li>
        </ul>
        {% endif %}
    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>
    <button id="themeButton" onclick="swapTheme()">
        <i class="fas fa-moon" id="moon"></i>
        <i class="fas fa-sun" id="sun"></i>
    </button>
</body>
</html>