{% extends "room/creation_template.html" %}
{% load static %}

{% block form %}
    {% comment %} partie qui s'occupe de l'envoie de message {% endcomment %}
    <form action="{% url 'room:create_room' %}" method="post">
        {% csrf_token %}
        <label for="room-name">le nom du salon</label>
        <input type="text" name="room-name" id="room-name" placeholder="le nom du salon">
        <br>
        <label for="room-description">la description du salon</label>
        <input type="text" name="room-description" id="room-description" placeholder="la description du salon">
        <br>
        {% comment %} form group for right selection {% endcomment %}
        <fieldset>
            <legend>droits</legend>
            <input type="checkbox" name="perm_room-message-write" class="perm-choice" value="perm_room-message-write" checked>
            <label for="perm_room-message-write">écrire des messages</label>
            <br>
            <input type="checkbox" name="perm_room-read" class="perm-choice" value="perm_room-read" checked>
            <label for="perm_room-read">lire les messages</label>
            <br>
            <input type="checkbox" name="perm_room-delete" class="perm-choice" value="perm_room-delete">
            <label for="perm_room-delete">supprimer les messages</label>
            <br>
            <input type="checkbox" name="perm_room-admin" class="perm-choice" value="perm_room-admin">
            <label for="perm_room-admin">administrer le salon</label>
            <br>
            <input type="checkbox" name="perm_room-deleteMessage" class="perm-choice" value="perm_room-deleteMessage">
            <label for="perm_room-admin">supprimer un message</label>
        </fieldset>
        <input type="submit" value="Envoyer">
    </form>
{% endblock %}