{% extends "room/template.html" %}
{% load static %}

{% block form %}
    {% comment %} partie qui s'occupe de l'envoie de message {% endcomment %}
    <form action="{% url 'room:remove_room' %}" method="post">
        {% csrf_token %}
        <label for="room-name">le nom du salon</label>
        {% comment %} selection menu of rooms {% endcomment %}
        <select name="room-name" id="room-name">
            {% for room in rooms %}
                <option value="{{ room.id }}">{{ room.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Envoyer">
    </form>
{% endblock %}