{% extends "room/template.html" %}
{% load static %}

{% block form %}
    {% comment %} partie qui s'occupe de l'envoie de message {% endcomment %}
    <form action="{% url 'room:create_room' %}" method="post">
        {% csrf_token %}
        <label for="room-name">le nom du salon</label>
        <input type="text" name="room-name" id="room-name" placeholder="le nom du salon">
        <br>
        <label for="room-description">la description du salon</label>
        <input type="text" name="room-description" id="room-description" placeholder="la description du salon">
        <input type="submit" value="Envoyer">
    </form>
{% endblock %}