{% extends "room/template.html" %}
{% load static %}

{% block script %}
    <script>
        let room_id = -1;
    </script>
    <script src="{% static 'room/js/rooms.js' %}"></script>
{% endblock %}

{% block room_list %}
    <div id="rooms">
        {% for current_room in rooms %}
            <a href="{% url 'room:view' current_room.id %}">{{ current_room.name }}</a>
        {% endfor %}
    </div>
    {% if details.cancreateRoom %}
        <a href="{% url 'room:create_room' %}" id="newRoom">create new room</a>
    {% endif %}
    {% if details.canremoveRoom %}
        <a href="{% url 'room:remove_room' %}" id="removeroom">remove room</a>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>please select a room in left section</h1>
{% endblock %}

{% block persons %}
    {% for person in persons %}
        <div class="person">
            <p>{{ person.user.username }}</p>
            <p>{{ person.description }}</p>
            <img src="{% static 'room/images/profilepic.png' %}" alt="profil" style="filter:hue-rotate( {{ person.colorRotation }}deg);">
            {% if details.isadmin %}
                <a href="{% url 'room:edit_user_perm' person.user.id %}">change perms</a>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}