{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Projet oueb²</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/167f1fd28a.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    {% block style %}
        <link rel="stylesheet" href="{% static 'css/vars.css' %}" />
        <link rel="stylesheet" href="{% static 'room/style.css' %}" />
    {% endblock %}

    {% block script %}
    {% endblock %} 
</head>
<body>
    <aside>
        <div id="left">
            {% block room_list %}
            {% endblock %}
        </div>
        <div id="bloc_dashboard">
            <a href="{% url 'user:dashboard' %}">My dashboard</a>    
        </div>
    </aside>
    
    <article id="article">
        <div id="messages-wrapper">
            <div id="messages">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div id="write">
        {% block form %}
        {% endblock %}
        </div>
    </article>

    <div id="right">
        <div id="presentation">
            <h2>{{ current_room.name }}</h2>
            <p id="description">{{ room.description }}</p>
        </div>
        <div id="persons-wrapper">
            <div id="persons">
                {% block persons %}
                {% endblock %}
            </div>
        </div>
    </div>
    <footer>by the PixelNerds</footer>
    <button id="themeButton" onclick="swapTheme()">
        <i class="fas fa-moon" id="moon"></i>
        <i class="fas fa-sun" id="sun"></i>
    </button>
</body>
</html>
