{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Projet oueb²</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    {% block style %}
        <link rel="stylesheet" href="{% static 'css/vars.css' %}" />
        <link rel="stylesheet" href="{% static 'room/style.css' %}" />
    {% endblock %}

    {% block script %}
    {% endblock %} 
</head>
<body>
    <aside>
        <div id="users">
            {% block room_list %}
            {% endblock %}
        </div>
    </aside>
    
    <article id="article">
        <div id="messages-wrapper">
            <div id="messages">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div id="write">
        {% block form %}
        {% endblock %}
        </div>
    </article>

    <div id="persons-wrapper">
        <div id="persons">
            <a href="{% url 'user:dashboard' %}">My dashboard</a>
            {% block persons %}
            {% endblock %}
        </div>
    </div>
    <footer>bla bla bla</footer>
</body>
</html>
