{% extends "base.html" %}
{% block title %}My Dashboard{% endblock %}
{% block content %}
    <h1>My Dashboard</h1>
    <div class = "content">
        <h2 id ="hello">Hello, <span id ="name">{{ request.user.username }}</span></h2>

        <div class="text" >Current Description : <span id ="name">{{ userData.description }}</span></div>
        
        
            <form method="post">
                {% csrf_token %}
                <label for="{{ form.description.id_for_label }}">Description: <span class="parenthesis">(max 200 char.)</span></label>
                <input type="text" id="description" name="{{ form.description.name }}" class="input-area">
                <button type="submit" id="update-button">update</button>
            </form>
        
        
        <p class="text">You can  <a href="{% url 'user:password_change' %}">change your password</a></p>
        
        <form method="post" action="{% url 'user:logout' %}">
            {% csrf_token %}
            <button type="submit">Log out</button>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var description = document.getElementById('description');
            var updateButton = document.getElementById('update-button');
    
            function updateButtonText() {
                if (description.value.trim() === '') {
                    updateButton.textContent = 'clear description';
                } else {
                    updateButton.textContent = 'update description';
                }
            }
    
            // Update the button text when the page loads
            updateButtonText();
    
            // Update the button text whenever the description changes
            description.addEventListener('input', updateButtonText);
        });
    </script>
{% endblock %}