{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <h1>Dashboard</h1>
    Hello, {{ request.user.username }}
    <p>description : {{ userData.description }}</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update</button>
    </form>
    
    <p>Welcome to your page</p>
    <p>You can change your password <a href="{% url 'user:password_change' %}">here</a></p>
    <form method="post" action="{% url 'user:logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

{% endblock %}