{% extends 'base.html' %}
{% block title %}Log In{% endblock %}
{% block content %}
    <h1>Log In</h1>
    <div class="content">
    {% if form.error %}
    <p>
        Please, check your username and password
    </p>
    {% else %}
    <p>
        Please; use the following form to login
    </p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'user:login' %}" method="post">
            {% csrf_token %}
            <p>
                <label for="{{ form.username.id_for_label }}">Username:</label>
                <input type="text" name="{{ form.username.name }}" class="input-area" id="{{ form.username.id_for_label }}">
            </p>
            <p>
                <label for="{{ form.password.id_for_label }}">Password:</label>
                <input type="password" name="{{ form.password.name }}" class="input-area" id="{{ form.password.id_for_label }}">
            </p>
            <input type="hidden" name="text" value="{{ next }}">
            <p>
                <button type="submit">Log In</button>
            </p>
        </form>
        <p>
            <a href="{% url 'user:register' %}">Don't have an account?</a>
        </p>
        <p>
            <a href="#">Forgotten Your Password?</a>
        </p>
    </div>
    </div>  
{% endblock %}
