{% extends 'base.html' %}
{% load static %}

{% block title %}Change your password{% endblock %}
{% block content %}
<h1>Change your password</h1>
<div class="content">

<form method="POST" id="password-change-form">
    {% csrf_token %}
    <div>
        <label for="{{ form.old_password.id_for_label }}">Old Password:</label>
    </div>
    <div class="field">
        <input type="password" class="input-area" id="{{ form.old_password.id_for_label }}" name="{{ form.old_password.name }}"> 
    </div>
    <div>
        {% if form.old_password.errors %}
        <div class="error-message">
            {{ form.old_password.errors }}
        </div>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.new_password1.id_for_label }}">New Password 1:<span class="parenthesis"> (min 8 char.)</span></label>
    </div>
    <div class="field">
        <input type="password" class="input-area" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.name }}">
    </div>
    <div>
        {% if form.new_password1.errors %}
        <div class="error-message">
            {{ form.new_password1.errors }}
        </div>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.new_password2.id_for_label }}">Confirm Password :</label>
    </div>
    <div class="field">
        <input type="password" class="input-area" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.name }}">
    </div>
    <div>
        {% if form.new_password2.errors %}
        <div class="error-message">
            {{ form.new_password2.errors }}
        </div>
        {% endif %}
    </div>
    <button type="submit" id="button">Change Password</button>
</form>
<div id="validation-message" class="validation-message"></div>
</div>

<script src="{% static '/user/js/password-validation.js' %}"></script>
{% endblock content %}