{% extends 'base.html' %}
{% load static %}

{% block title %}Change your password{% endblock %}
{% block content %}
<h1>Change your password</h1>
<div class="content">
<p class="text">Use the form below to change your password</p>
<form method="POST" id="password-change-form">
    {% csrf_token %}
    <div class="field">
        <label for="{{ form.old_password.id_for_label }}">Old Password:</label>
        <input type="password" class="input-area" id="{{ form.old_password.id_for_label }}" name="{{ form.old_password.name }}"> 
        {% if form.old_password.errors %}
        <div class="error-message">
            {{ form.old_password.errors }}
        </div>
        {% endif %}
    </div>

    <div class="field">
        <label for="{{ form.new_password1.id_for_label }}">New Password 1:</label>
        <input type="password" class="input-area" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.name }}">
        {% if form.new_password1.errors %}
        <div class="error-message">
            {{ form.new_password1.errors }}
        </div>
        {% endif %}
    </div>

    <div class="field">
        <label for="{{ form.new_password2.id_for_label }}">New Password 2:</label>
        <input type="password" class="input-area" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.name }}">
        {% if form.new_password2.errors %}
        <div class="error-message">
            {{ form.new_password2.errors }}
        </div>
        {% endif %}
    </div>
    <ul class="text">
        <li>Your password can’t be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can’t be a commonly used password.</li>
        <li>Your password can’t be entirely numeric.</li>
        <li>Your new password should not be the same as your old password.</li>
        <li>Your new password 1 should be the same as your new password 2.</li>
    </ul>
    <button type="submit" id="button">Change Password</button>
</form>
<div id="validation-message" class="validation-message"></div>
</div>

<script src="{% static '/user/js/password-validation.js' %}"></script>
{% endblock content %}