{% extends 'base.html' %}
{% block content %}
<h1>Registration</h1>
    <div class="content">
        <form method="POST">
            {% csrf_token %}
            <div class="field">
                <label for="{{ form.username.id_for_label }}">Username:</label>
                {{ form.username }}
            </div>
            <div class="field">
                <label for="{{ form.email.id_for_label }}">Email:</label>
                {{ form.email }}
            </div>
            <div class="field">
                <label for="{{ form.password1.id_for_label }}">Password:</label>
                {{ form.password1 }}
            </div>
            <div class="field">
                <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
                {{ form.password2 }}
            </div>
            <button type="submit">Register</button>
            </form>
        <p>Already Have An Account? <a class="ml-2" href="{% url 'user:login' %}">Log In</a></p>
    </div>
{% endblock content %}