@font-face {
    font-family: thaleah;
    src: url("/static/font/ThaleahFat_TTF.ttf");
}

aside, #article, #persons-wrapper{
    display: inline-block;
    vertical-align: top;
    margin:0;
}

h1{
    color: var(--text-color);
}

a{
    text-decoration: none;
    font-size: 1em ;
    width: 90%;
    margin:5px;
    text-align: center;
    line-height: 25px;
}

.person a{
    width: 80%;
}

.editroom{
    color:var(--text-color);
}

.editroom:hover{
    text-decoration: underline;
}

a:not(.editroom){
    color: var(--text-color);
    background-color: none;
    display: inline-block;
    border-radius: 10px;
    border: 2px solid var(--link-color);

    transition: all 0.2s ease-in-out;
}

a:not(.editroom):hover{
    background-color: var(--link-color);
    color:var(--text-color);
}

a:not(.editroom):active{
    background-color: var(--link-hover);
    text-decoration: underline;
}

body, html{
    padding:0;
    margin:0;
    background-color: var(--background-color);
    width: 100%;
    color : var(--text-color);
    overflow-y: hidden;
    font-family: thaleah;
}

#rooms{
    width: 100%;
    border-bottom: 2px solid var(--text-color);
    
}

.bloc_room{
    background-color: var(--link-color);
    margin:5px
}

aside{
    width: 250px;
    height: calc(100vh - 100px);
    overflow-y: scroll;
}

#article{
    width:calc(100% - 500px);
}

#right{
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    width:240px;
    overflow-y: scroll;
    height:calc(100vh - 50px);
    vertical-align: top;
    position: absolute;
    right: 0px;
}


#description{
    border-bottom: 2px solid var(--text-color);
}

#left{
    padding: 10px;
    width: calc(100% - 25px);
    height: calc(100% - 50px)
}

.pfp{
    width: 100px;
    height: 100px;
    margin: 5px;
    image-rendering: pixelated;
}

.message__remove{
    /* image supr dans static */
    background-image: url("/static/room/images/supr.png");
    width: 30px;
    height: 30px;
    border:none;
    background-color: transparent;
    /* change image size */
    background-size: 30px 30px;

    /* change button position */
    position: absolute;
    top: 5px;
    right: 5px;
}

.person{
    border: 2px solid var(--background-shadow);
    border-radius: 5px;
    margin: 5px;
    width: 200px;
    text-align: center;
    padding-bottom: 5px;
}

.usertext{
    padding: 5px;
}

.usertext,p{
    margin:0px;
    margin-bottom: 10px;
}


.person-wrapper .persons{
    width: 249px;
}

#bloc_dashboard{
    position: fixed;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    width: 240px;
    bottom: 50px;
    left: 0px;
}

#bloc_dashboard>a{
    height:25px;
    padding:5px 0px;
}

#messages{
    background-color: var(--background-shadow);
    border-radius: 5px;
    padding : 10px;
}

#messages-wrapper{
    height: calc(100vh - 90px);
    overflow-y: scroll;
    color: var(--message-shadow)
}

.message{
    width:60%;
    border: 1px solid var(--link-color);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px var(--message-shadow);
    position: relative;
    overflow: hidden;
}

#ecrit{
    height: calc(100% - 20px);
    vertical-align: middle;
}

#message{
    width: calc(100% - 80px);
    height: 30px;
    border-radius: 15px;
    border: 3px solid var(--link-color);
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    color: var(--text-color);
    background-color: var(--article-color);

}

.yours{
    background-color: var(--link-color);
    margin-left:38%;
}

.notyours{
    background-color: var(--link-hover);
}

#write{
    background-color: var(--aside-color);
    border-radius: 5px;
    height:40px;
    width: 100%;
}

footer{
    height: 50px;
    background-color: var(--background-color);
}
