

aside, #article, #persons-wrapper{
    display: inline-block;
    vertical-align: top;
    margin:0;
}

a{
    color:var(--link-color)
}

a:hover{
    color:var(--link-hover)
}

body, html{
    padding:0;
    margin:0;
    background-color: var(--background-color);
    width: 100%;
    color : var(--text-color);
    overflow-y: hidden;
}

#rooms{
    width: 15%;
}

aside{
    width: 200px;
    height: calc(100vh - 50px);
    overflow-y: scroll;
}

#article{
    width:calc(100% - 500px);
}

#right{
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    width:250px;
    overflow-y: scroll;
    height:calc(100vh - 50px);
}

#description{
    border-bottom: 2px solid var(--text-color);
}

#left{
    padding: 10px;
}

#rooms{
    border-bottom: 2px solid var(--text-color);
    width: 150px;
}
.usertext{
    display : inline-block;
}

.usertext>img{
    position: absolute;
    right:0;
}

#bloc_dashboard{
    position:absolute;
    bottom: 50px;
    padding : 10px;
    text-align: center;
    width: 150px;
}

#messages{
    background-color: var(--background-shadow);
    border-radius: 5px;
    padding : 10px;
}

#messages-wrapper{
    height: calc(100vh - 90px);
    overflow-y: scroll;
    color: var(--message-shadow)
}

.message{
    width:60%;
    border: 1px solid var(--link-color);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px var(--message-shadow);
    position: relative;
    overflow: hidden;
}

.yours{
    background-color: var(--link-color);
    margin-left:38%;
}

.notyours{
    background-color: var(--link-hover);
}

#write{
    background-color: var(--aside-color);
    border-radius: 5px;
    height:40px;
}

footer{
    height: 50px;
    background-color: var(--background-color);
}
